<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>OncoOmics | Analysis</title>
    <link rel="stylesheet" href="../static/css/analysis.css" />
  </head>
  <body>
    <a class="back-btn" href="/" id="backlink">Go Back</a>

    <div class="Analysis:">
      <h2>
        OncoOmics in analysis will provide users to perform omics and network
        analysis based on data selection. The users can perform analysis about:
      </h2>
      <ul>
        <li class="srch-btn">
          <a href=""> Gene Expression analysis/profiling </a>
        </li>
        <li class="srch-btn"><a href=""> Mass Spectrometry analysis </a></li>
        <li class="srch-btn"><a href=""> Metabolic Profiling/analysis </a></li>
        <li class="srch-btn"><a href=""> Biomarker analysis </a></li>
        <li class="srch-btn"><a href=""> Text Mining analysis </a></li>
        <li class="srch-btn">
          <a href="">
            Pathway analysis/Gene-Drug Network/Protein-Protein Network
          </a>
        </li>
        <li class="srch-btn"><a href=""> Clinical data analysis </a></li>
        <li class="srch-btn">
          <a href=""> Pharmoco-genomics data analysis </a>
        </li>
      </ul>
    </div>
  </body>
</html>
