<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>OncoOmics | EDA</title>
    <link rel="stylesheet" href="../static/css/autoplotter.css" />
    <script src="../static/js/autoplotter_script.js"></script>
  </head>
  <body>
    <a class="back-btn" href="/" id="backlink">Go Back</a>

    <h1>OncoOmics</h1>
    <h2>Exploratory Data Analysis</h2>
    <div class="links">
      <a href="/eda/ext-webapp/survival.csv">Survival (CSV)</a>
      <a href="/eda/ext-webapp/km_plot.csv">KM plot overall survival (CSV)</a>
      <a href="/eda/ext-webapp/sample.csv" rel="noopener noreferrer"
        >Sample (CSV)</a
      >
      <a
        href="/eda/ext-webapp/Br_cancer_gene_expr.csv"
        rel="noopener noreferrer"
        >Breast Cancer Gene Expression (CSV)</a
      >
    </div>
  </body>
</html>
