<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>OncoOmics | Browse</title>
    <link rel="stylesheet" href="../static/css/browser.css" />
  </head>
  <body>
    <a class="back-btn" href="/" id="backlink">Go Back</a>

    <div class="browse">
      <h2>Browser</h2>
      <ul>
        <li>
          <a href=""> Browser by cancer types (Images of cancer types) </a>
        </li>
        <li><a href=""> Browser by Gene </a></li>
        <li><a href=""> Browser by Drug </a></li>
        <li><a href=""> Browser by Drug </a></li>
        <li><a href=""> Browser by Driver genes</a></li>
        <li><a href=""> Browser by Biomarkers </a></li>
        <li><a href=""> Browser by Cell lines</a></li>
      </ul>
    </div>

    <div class="man-tut">
      <h2>Manual and Tutorial</h2>
      <p>Download Manual <a href="">here</a></p>
      <p>Explore data as shown in slides.</p>
    </div>

    <div class="motiv">
      <h2>Motivation of OncoOmics</h2>
      <p>
        Early somatic mutations can cause developmental disorders, whereas the
        progressive accumulation of mutations throughout life can lead to
        cancers. Large cancer sequencing projects, such as TCGA and ICGC,
        provide unprecedented opportunities to identify causative variations
        underlying human cancers. However, it is still a key challenge in cancer
        genomics to identify cancer driver genes and pathways among all somatic
        mutations detected in a cohort of tumors. The prevalence of neutral
        mutations in cancer cell population is a major challenge for
        distinguishing cancer-causing driver mutations from inconsequential
        passenger mutations.
      </p>
      <p>
        OncoOmics aids the identification of drivers across tumor types and
        helps rank mutations or genes for better decision-making for the
        clinical and scientific community interested in cancer precision
        medicine.
      </p>
    </div>
  </body>
</html>
